*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
nav{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2E35;
    color: white;
    width: 100%;
    .hidden_bar{
        display: none;
    }
    .logo{
        display: flex;
        align-items: center;
        font-size: 28px;
        font-weight: 600;
        gap: 10px;

    }
    ul{
        list-style: none;
        display: flex;
        gap: 20px;
        align-items: center;
        a{
            color: white;
            text-decoration: none;
        }
        li:nth-child(5){
            button{
                padding: 10px 20px;
                background: transparent;
                border-radius: 5px;
                border: 1px solid #BCD0E5;
            }
        }
        li:nth-child(6){
            button{
                padding: 11px 20px;
                background: #02897A;
                border-radius: 5px;
                border: none;
                color: white;
            }
        }
        li:nth-child(7){
            button{
                border-radius: 50%;
                border: none;
                display: grid;
                place-items: center;
            }
        }
    }
}



@media (min-width: 769px) and (max-width:989px){
    nav {
        ul{
            li:nth-child(1),
            li:nth-child(2),
            li:nth-child(3),
            li:nth-child(4){
                a{
                    display: none;
                }
            }
            li:nth-child(5){
                button{
                    display: flex;
                }
            }
            li:nth-child(6){
                button{
                    display: flex;
                }
            }
            li:nth-child(7){
                button{
                    display: flex;
                }
            }
        }      
    }
}

@media (min-width: 448px) and (max-width: 768px){
    nav {
        padding: 20px;
        ul{
            gap: 10px;
            li:nth-child(1),
            li:nth-child(2),
            li:nth-child(3),
            li:nth-child(4){
                a{
                    display: none;
                }
            }
            li:nth-child(5){
                button{
                    display: block;
                    padding: 6px 12px;
                }
            }
            li:nth-child(6){
                button{
                    display: flex;
                    padding: 6px 12px;
                }
            }
            li:nth-child(7){
                button{
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    border: none;
                }
            }
        }      
    }
}

@media (max-width: 447px){
    nav{
        padding: 10px 5px;
        ul{
            display: none;
        }
        .hidden_bar{
            display: block;
        }
    }
}


